@using MovieSearch.Models
@*@model MovieSearch.Models.Movie*@
@model SearchMovie


@{
    ViewBag.Title = "Details";
}

<div class="col-md-12">
    <div class="col-md-4">
        <br />
        <br />
        <img src="@Model.movie.Poster" />
        <p style="font-size: 1.2em;">
    </div>
    <div class="col-md-6">
        <br />
        <h1>@Model.movie.Title</h1>
        <p><strong>Release Date: </strong>(@Model.movie.Released) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(@Model.movie.Country)</p>
        <p><strong>Rating: </strong>@Model.movie.Rated&nbsp;&nbsp;&nbsp;&nbsp;<strong>Length: </strong>@Model.movie.Runtime</p>
        <p><strong>Genre: </strong>@Model.movie.Genre&nbsp;&nbsp;&nbsp;&nbsp;<strong>Metascore: </strong>@Model.movie.metascore / 100</p>
        <br />
        <p style="font-size: 1.2em;">
        <p><strong>Director: </strong>@Model.movie.Director</p>
        <p><strong>Writer(s): </strong>@Model.movie.Writer</p>
        <p><strong>Actor(s): </strong>@Model.movie.Actors</p>
        <br />
        <p style="font-size: 1.2em;">
        <p><strong>Plot/Description: </strong>@Model.movie.Plot</p>
        <p style="font-size: 1.2em;">
        <br />
        <p><strong>Language(s): </strong>@Model.movie.Language</p>
        <p><strong>Awards: </strong>@Model.movie.Awards</p>
        <p></p>
        <br />
        |
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-md">
            New Search
        </a>
        |
        <a href="@Url.Action("Search", new {searchword = @Model.searchWord})" class="btn btn-primary btn-md">
            Back to Search Results
        </a>
        |
        <a target="_blank" href="http://www.imdb.com/title/@Model.movie.imdbID/">
            <img alt="IMDB" src="http://techmaza.org/wp-content/uploads/2013/12/imdb1.jpg" height="100">
        </a>
    </div>
</div>



