@using MovieSearch.Models
@model SearchMovie
@{
    ViewBag.Title = "MovieSearch";
}

<h2>Search Results</h2>
<br />
@if (Model.contactServer)
{
    <p>Contacting server...</p><br />
}
    @*If we get a response*@
    @if (Model.serverResponse)
            {
                //if there are no results
                if (Model.movies.Count == 0)
                {
            <p>There were no movies found with those keywords.</p>
            <br />
            <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm">
                New Search
            </a>
        }
        else
        {
            // if we get some actual results
            <p>Please pick the correct movie.</p>
            foreach (Movie movie in Model.movies)
            {
                <div style="font-size: 1.2em;">
                    <a href="@Url.Action("Details", new {id = movie.imdbID, searchword = @Model.searchWord})">
                        @movie.Title&nbsp;(@movie.Year)&nbsp;(@movie.type)
                    </a>
                </div>
            }
            <br />
            <br />
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-sm">
                New Search
            </a>
        }
    }
    else
    {
        // if there is no server response (ie site down)
        <p>Unable to contact server. Try again later...</p>
        <br />
        <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-sm">
            Home
        </a>
    }